
Source: deepin-scanner
Section: graphics
Priority: optional
Maintainer: deepin <packages@deepin.com>
Build-Depends:
 debhelper (>= 11),
 cmake,
 pkg-config,
 qt6-5compat-dev,
 qt6-base-dev,
 qt6-tools-dev-tools,
 qt6-tools-dev,
 libdtk6widget-dev,
 libdtk6gui-dev,
 libdtk6core-dev,
 libquazip1-qt6-dev,
 libsane-dev,
 libtiff-dev,
 libjpeg-dev,
 libicu-dev,
 libpng-dev,
 cmake,
Standards-Version: 4.5.0

Package: deepin-scanner
Architecture: any
Depends:
    ${shlibs:Depends},
    ${misc:Depends},
Recommends: dde-qt6integration
Description: a tool for scanning.
 Scanner Manager is a tool for scanning document files, supporting PDF, JPEG, PNG, TIFF.
